.login {
  box-sizing: border-box;
  padding: 0 66rpx;
  &-top {
    margin: 18rpx 240rpx 100rpx;
    .title {
      width: 144rpx;
      height: 50rpx;
      font-weight: 600;
      font-size: $uni-font-size-big;
      color: $uni-main-text-color;
      letter-spacing: 0;
    }
  }
  &-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 90rpx !important;
    .headBig {
      width: 240rpx;
      height: 66rpx;
      font-weight: 600;
      font-size: 48rpx;
      color: $uni-main-text-color;
      letter-spacing: 0;
    }
    .headMini {
      color: $uni-main-color;
      .type {
        width: 128rpx;
        height: 44rpx;
        font-weight: 500;
        letter-spacing: 0;
        text-align: right;
      }
      .icon-caret {
        font-size: 50%;
        margin-left: 14rpx;
      }
    }
  }
}
